import /tee.rc
import /trustonic.rc
import /mtk-plpath-utils.rc

on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw 

on fs
    install_keyring

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-4-1 /vendor/bin/hw/android.hardware.keymaster@4.1-service.trustonic
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start mobicore
    start keymaster-4-1
    start gatekeeper-1-0
    
on property:ro.crypto.state=unsupported
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0
    
on property:ro.crypto.state=unencrypted
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0
        
on property:twrp.decrypt.done=true
    stop mobicore
    stop keymaster-4-1
    stop gatekeeper-1-0
   
on boot
    start boot-hal-1-2
    start health-hal-2-1
